<!-- Footer -->
<div id="footer-wrapper">
    <div id="footer">
        <div id="footer-content"> 
            <div id="footer-block"><p><i>Phi Sigma Rho | Alpha Theta Chapter</i></p></div>
        	<a href="/faq">FAQ</a>
            <a href="mailto:regina.xu1@gmail.com"  target="_blank">
        		<i class="fa fa-envelope" style="margin-left: 20px;">
        		</i>
        	</a>
        	<a href="https://www.facebook.com/calphisigmarho/" target="_blank">
        		<i class="fa fa-facebook" style="margin-left: 20px;">
        		</i>
        	</a>
        </div>
    </div>
</div>
