html, p, ul, ol, button, input, select, span, div, p {
  font-family: "proxima-nova", sans-serif;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 300;
  font-style: normal;
  vertical-align: baseline;
}

body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  background-image: none;
  background-size: auto auto;
  background-attachment: scroll;
  background-repeat: repeat;
  background-color: #FFF;
  color: #777;
  margin: 0px;
  padding: 0px;
}
ol, ul {
  list-style: outside none none;
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* NAVBAR */
#header-wrapper {
  padding: 3em 0em;
}
nav ul li:hover:after {
  border: 1px solid #320066;
  border-radius: 4px;
}
nav a:hover, nav a:active { color:#ffdf32; }
nav li {
  display: inline-block;

}
nav li:last-child a {
  border-right: 0;
  border-bottom: 0;
}
nav a#pull {
    display: none;
} 
nav a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #320066;
  margin: 12px;

}
nav li a {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav ul li {
  list-style-type: none;
  overflow: hidden;
  color: #ffffff;
}
nav ul {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
@media only screen and (max-width : 600px) {
  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a#pull {
    display: block;
    background-color: #FFF;
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content:"";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
  nav li a {
    border-bottom: 1px solid #bdbdbd;
  }
}
.menu-block h2 {
  font-size: 2.75rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  padding-top: 20px;
  font-family: "Varela Round",sans-serif;
}
.menu-block h2 a {
  text-decoration: none;
  color: #320066;
}
.menu-block span {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #320066;
}
.container {
  margin: 0px auto;
  width: 100%;
}
.menu-block {
  text-align: center;
}
#title {
  margin: 3em;
}
.menu-block .icon {
  text-decoration: none;
  display: inline-block;
  padding: 0.75em;
  background: #320066 none repeat scroll 0% 0%;
  border-radius: 50%;
  font-size: 1.25em;
  color: #FFF;
}
.menu-block span {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #320066;
}
/* PAGES */
#title-block {
  background: transparent none repeat scroll 0% 0%;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
#cover-area {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
}
#cover-area a {
  color: #FFF;
  text-decoration: none;
}
#cover-area h3 {
  font-size: 3em;
  font-weight: 200;
}
/* Homepage */
#content-wrapper1 {
  width: 100%;
  height: auto;
  background: #320066;
  color: white;
}
#content-wrapper2 {
  margin: 35px auto;
  width: 100%;
  height: auto;
  background: #ffffff;
}
#content-wrapper3 {
  color: inherit;
  background-color: #FFF;
  padding: 20px 0px 40px;
  margin: 35px auto;
  box-shadow: 0px 0px 10px #BFBEBA;
}
#welcome {
  overflow: hidden;
  width: 60%;
  padding: 6em 100px;
  text-align: center;
  color: #ffffff;
}
#welcome p{
  width: 65%;
  display: inline-block;
}
#object {
  background-color: inherit;
  overflow: hidden;
  width: 60%;
  padding: 6em 100px;
  text-align: center;
}
#object-about {
  color: inherit;
  max-height: 450px;
  background-color: #FFF;
  width: 80%;
  text-align: center;
}
#content-social {
  background: inherit;
  width: 500px;
  float: left;
}
#content-social-wrapper {
  height: 250px;
}
#content-volunteer {
  background: inherit;
  width: 500px;
  float: right;
}
#content-volunteer-wrapper {
  height: 250px;
}
/* Pictures section on homepage */
#volunteer-pic {
  float: left !important;
  transform: scale(0);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
#volunteer-pic div {
  margin-right: 10%;
  display: inline-block;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid #bdbdbd;
  background: transparent url("../img/berkproj.jpg") no-repeat scroll -45px / cover;
}
#social-pic {
  float: right !important;
  transform: scale(0);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
#social-pic div {
  margin-left: 10%;
  display: inline-block;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid #bdbdbd;
  background: transparent url("../img/iceskate.jpg") no-repeat scroll -52px / cover;
}
.col-sm-4, .col-xs-12 {
  padding-top: 100px;
  margin: 0 2px 0 2px;
  display: inline-block;
  float: left;
  position: relative;
  min-height: 1px;
}
.col-sm-4 {
  width: 30%;
}
@media only screen and (max-width : 1200px) {
  .col-sm-4 {
    width: 95%;
    margin: 0 20px 0 20px;
  }
}
/* About Section */
/*.about {
    background-image: linear-gradient(80deg, rgba(85, 26, 139, 0.7), rgba(255, 215, 0, 0.5)), url("../img/about.jpg");
    background-origin: margin-box, padding-box;
    background-position: cover;
    background-repeat: repeat, no-repeat;
    background-size: cover;
}
*/
/* Actives Section */
#actives-area a {
  text-decoration: none;
  color: #2a2a2a;
  font-size: 0.9rem;
}
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 150px;
}
ul.img-list li:hover span.text-content {
  opacity: 1;
}
.modalDialog {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1050;
  outline: 0px none;
  background: rgba(0, 0, 0, 0.8);
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 80%;
    height: 50%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #bdbdbd);
    background: -webkit-linear-gradient(#fff, #bdbdbd);
    background: -o-linear-gradient(#fff, #bdbdbd);
}
.close {
    background: transparent;
    color: #320066;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    padding: 15px;
    font-size: 2.5rem;
    text-decoration: none;
}
.close:hover {
    color: #ffdf32;
}
/* Recruitment Section */
#description {
  border-right: 5px solid #4b0099;
  float: right;
  width: 60%;
  padding-right: 20%;
  margin-right: 10%;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#schedule {
  clear: both;
  width: 10%;
  float: right;
}
#schedule i {
  vertical-align: middle;
}
#schedule #line {
  color: #4b0099;
  margin: 1.5rem -4rem 1.5rem;
  position: absolute;
  width: 5%;
}
#schedule #line i {
  border: 5px solid #4b0099;
  padding: 20px;
  border-radius: 50%;
  background: #FFF;
  position: relative;
  transition: all 300ms cubic-bezier(0.37, 0, 0.175, 1) 0s;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* Footer */
#footer-wrapper {
  border-top: 1px solid #E8E8E8;
  clear: both;
}

#footer {
  text-align: center;
  padding: 24px 0px;
  max-width: 100%;
  clear: both;
  margin: 0px auto;
  position: relative;
}
#footer-content {
  display: block;
  width: auto;
}
#footer-content a:hover {
  color:#ffdf32;
}
#footer-block p {
  font-size: 0.8rem;
}
#footer-content a, #footer-block {
  text-decoration: none;
  color: #bdbdbd;
  letter-spacing: 5px;
  margin: 15px;
}


  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;  

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    transform: scale(1.1);  
  }
  80% {
    transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    transform: scale(1);
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(1);
    opacity: 1; 
  }   
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;  
  -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;  
  -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;
  visibility: visible !important;     
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }     
  100% {
    transform: translateY(0%);
  } 
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }     
  100% {
    -webkit-transform: translateY(0%);
  } 
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
